/*--------------------------------------------------------
                 P R I M A R Y   N A V S
----------------------------------------------------------*/		
#navbox 
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 149px;
	border-right: 1px solid #777;
	}
	
	#navbox  ul  
		{
		list-style: none;
		margin: 0px;
		padding: 0px;
		text-align: left;
		}
	
	#navbox li  
		{
		border-bottom: 1px solid #777;
		}
	
	#navbox a  
		{
		display: block;
		text-decoration: none;
		color: #444;
		background: #eee;
		border: 5px solid #eee;
		padding: 0px;
		}

	#navbox a:hover  
		{
		background: #901809;
		color: #eee;
		border: 5px solid #901809;
		}
		
/* D O W N   S T A T E S  */
#navdown a:link, #navdown a:hover, #navdown a:visited {
	display: block;
	padding: 0px;
	background: #5B7D93;
	color: #EEF2F5;
	text-decoration: none;
	border: 5px solid #5B7D93;
	}
	
	
/*--------------------------------------------------------
                 S E C O N D A R Y   N A V S
----------------------------------------------------------*/
#subnav  ul  
		{
		list-style: none;
		margin: 0px;
		padding: 0px;
		text-align: left;
		}
	
	#subnav li  
		{
		}
	
	#subnav a  
		{
		background: #fff;
		display: block;
		text-decoration: none;
		text-indent: 15px;
		color: #5B7D93;
		border: 5px solid #fff;
		padding: 0px;
		}

	#subnav a:hover  
		{
		background: #C0D2DD;
		color: #5B7D93;
		border: 5px solid #C0D2DD;
		padding:0px;
		}

	
/* D O W N   S T A T E S  */
#subnavdown a:link, #subnavdown a:hover, #subnavdown a:visited {
	display: block;
	text-indent: 15px;
	padding:  0px;
	background-color: #C0D2DD;
	color: #1F3A4C;
	text-decoration: none;
	border: 5px solid #C0D2DD;
	}