#pageHeader
  %p About Us
#pageContent
  %h2 Ministry Staff
  %div{:style => "padding-left: 7px;"}
    %table{:cellspacing => "0", :cellpadding => "2"}
      %tr{:style => "background-color: #ddd;"}
        %td
          %b Pastor
        %td
        %td Tom Whitaker
      %tr{:style => "background-color: #eee;"}
        %td
          %b Youth Leaders
        %td
        %td Nick Whitaker and BJ Murphy
      %tr{:style => "background-color: #ddd;"}
        %td
          %b Board Members
        %td
        %td Ron Fauver
      %tr{:style => "background-color: #eee;"}
        %td
        %td
        %td Ron Becker
      %tr{:style => "background-color: #ddd;"}
        %td
        %td
        %td Pete Rhode
      %tr{:style => "background-color: #eee;"}
        %td
        %td
        %td Jim Harold

    %h2{:style => "margin-top: 25px;"} Our Contact Information
    %div{:style => "padding-left: 7px;"}
      %p{:style => "margin-top: 0;"}
        %strong New Life Assembly of God<br/>
        305 Detour Road<br/>
        Walla Walla, WA 99362
      %p
        %strong Phone:
        509-529-7756<br />
        %strong Fax:
        509-529-1273<br />
        %strong e-mail:
        newlife@nlagonline.com
    
    %h2{:style => "margin-top: 25px;"} Map
    %img{:src => "images/map.gif", :width => "570", :height => "351", :alt => "New Life Assembly of God - Map"}
