%div{:style => "padding: 15px;"}
  %iframe{:src => "https://www.google.com/calendar/embed?src=7q5elr14qh5tgs0nmtvvrjr8vo%40group.calendar.google.com&ctz=America/Los_Angeles", :style => "border: 0", :width => "550", :height => "550", :frameborder => "0", :scrolling => "no"}
