#pageHeader
  %p Welcome to the home of New Life Assembly of God
#pageContent
  %h2 SUNDAY
  %div{:style => "padding-left: 7px;"}
    10:00 am morning service
    %h3{:style => "padding-top: 5px;"}
    %strong
      %i Children's Church
    %div After worship
