!!!
%html
  %head
    %title New Life Assembly of God - Walla Walla, WA

    %link{:rel => "stylesheet", :type => "text/css", :href => "css/style.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/sideNav.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/niftyCorners.css"}
    %script{:type => "text/javascript", :src => "js/nifty.js"}

    %style{:type => "text/css", :media => "print"}
      .rtop, .rbottom{display: none}

    :javascript
      window.onload = function() {
        RoundedTop("div#pageHeader","#fff","#901809");
      }

  %body
    #globalContainer
      #headerContainer
        %img{:src => "images/logo.gif", :width => "752", :height => "99", :alt => "New Life Assembly of God - Walla Walla, WA"}
        #navContainer
          #navbox
            %ul
              %li
                %a{:href => "index.html"} Home
              %li
                %a{:href => "events.html"} Events
              %li
                %a{:href => "small_groups.html"} Small Groups
              %li
                %a{:href => "messages.html"} Messages
              %li
                %a{:href => "about_us.html"} About Us

      #col2
        #contentContainer
          =yield

      #footerContainer
        Problems?
        %a{:href => "mailto:jnickoloff@gmail.com"} E-mail me
        %div{:style => "clear: both;"}

<!-- Google Analytics -->
:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32101781-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
