#pageHeader
  %p Messages
#pageContent
  - unless @authorized
    %p This area requires authorization.
    Enter Password:
    %form{:action => "/messages.html", :method => "get"}
      %input#password{:type => "password", :name => "password"}
      %input{:type => "submit", :id => "submit"}
  - else
    %h1 Sermons
    %table
      - @sermon_list.each do |sermon|
        %tr
          %td
            %a{:href => sermon.url}= sermon.name

