#pageHeader
  %p Messages
#pageContent
  - unless @authorized
    %p This area requires authorization.
    - if @failed_attempt
      %p{:style => "color:red"} Incorrect, try entering the password again:
    - else
      %p Enter password:
    %form{:action => "/messages.html", :method => "get"}
      %input#password{:type => "password", :name => "password"}
      %input{:type => "submit", :id => "submit"}
  - else
    %h1 Sermons (BETA)
    %table
      - @sermon_list.each do |sermon|
        %tr
          %td
            %a{:href => sermon.url}= sermon.name

