#pageHeader
  %p Messages
#pageContent
  %h2 Ben Goodman Freedom Workshop - February 2009
  %div{:style => "padding-left: 7px;"}
    %ul
      %li
        %a{:href => "media/022009 Ben Goodman 1 Tearing Down Strongholds.mp3"} Part 1 - Tearing Down Strongholds
      %li
        %a{:href => "media/022109 Ben Goodman 2 Freedom from Curses.mp3"} Part 2 - Freedom From Curses
      %li
        %a{:href => "media/022109 Ben Goodman 3 Healing Emotional Wounds.mp3"} Part 3 - Healing Emotional Wounds
      %li
        %a{:href => "022109 Ben Goodman 4 Deliverance from Demonic Oppression.mp3"} Part 4 - Deliverance From Demonic Oppression
