#pageHeader
  %p Small Groups
#pageContent
  %table{:width => "100%"}
    %tr
      %th{:colspan => "2"} MONDAY
    %tr
      %td 7:00 PM
      %td Jim & Brenda's Small Group, 525-5235
    %tr
      %th{:colspan => "2"} WEDNESDAY
    %tr
      %td 7:00 PM
      %td Youth Service at Washington Park
    %tr
      %td
      %td Pete and Kathy Rohde's Small Group, 529-5989
    %tr
      %td
      %td Ron & Connie Fauver's Home Group, 529-0107
